# for reverse nginx proxy:
VIRTUAL_HOST=localhost
SSL_EMAIL=technicalemail@example.com

# for database connection:
MYSQL_ROOT_PASSWORD=password
MOODLE_DB_HOST=db
MOODLE_DB_NAME=moodle
MOODLE_MYSQL_USER=dbuser
MOODLE_MYSQL_PASSWORD=dbpassword

SSL_PROXY=false
EXTERNAL_DB=true

MOODLE_URL=http://localhost

# for installing moodle, user data:
MOODLE_ADMIN_USER=adminuser
MOODLE_ADMIN_PASSWORD=adminpassword
MOODLE_ADMIN_EMAIL=example@example.com
MOODLE_LANG=en
MOODLE_SITE_NAME=MySite
MOODLE_SITE_FULLNAME=This is my awesome site


# for moodle initial configuration (plugin related)
DEFAULT_THEME=snap
BBB_SERVER_URL=http://bbb.test.url
BBB_SECRET=thisShouldBeMySharedSecretKey