# Needs to be renamed to .env to include variables used in plugins-sample.sh

TOOL_GENERATOR_PASSWORD=password
SMTP_HOSTS=smtp.host.com
SMTP_USER=user@localhost
SMTP_PASSWORD=password
SMTP_MAXBULK=100
NO_REPLY_ADDRESS=noreply@localhost

MOODLE_DB_HOST=db
MOODLE_DB_NAME=moodle
MOODLE_DB_USER=dbuser
MOODLE_DB_PASSWORD=dbpassword