@page {
	margin-top: 1.5cm;
	margin-bottom: 1.5cm;
	margin-left: 1.5cm;
  margin-right: 1.5cm;
}
table {
    border-collapse: collapse;
    font-family: Mono; font-size: 9.5pt;
    border: 1px solid black;
    page-break-inside:avoid;
    width:100%;
}

table td {
  text-align:center;
    vertical-align:middle;
    /*padding-left: 5px;
    padding-right: 5px;*/


}
table tr{
  border: 1px solid black;
}

.tr-0{
  background: #FFFFFF;
}
.tr-1{
  background: #e5e5e5;
}
table th {
    text-align:center;
    vertical-align:middle;
    background-color: #e74c3c;
    color: white;
}

.td-1{
  text-align:left;
}

.curso {
  border-collapse: collapse;
  font-family: Mono; font-size: 12pt;
  width: 100%;
}
.td-curso{
  /*border: 1px solid #e74c3c;*/
  text-align:center;
  vertical-align:middle;
  background-color: #e74c3c;
  color: white;
}
.tablaDatos{
  border: 1px solid #e74c3c;
  width: 300px;

}
.tablaDatos tr{
  border: 0px;
}
.tablaDatos td{
  font-family: Mono;
  font-size: 10pt;
  text-align:left;
  vertical-align:middle;
}
